/* .bounce-frame-history-target-recog{
    height: 43%;
    width: 35%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    right: -10%;
    top: 30%;
    transform: translate(-50%,-50%);
} */
.bounce-frame-global-target-recog{
    height: 43%;
    width: 35%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    right: -10%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.bounce-frame-history-target-recog{
    height: 68%;
    width: 65%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.about1{
    height: 100%;
    width: 100%;
    min-width: 1440px;
    min-height: 781px;
    position: relative;
}
.scheme-coop-small-goal{
    height:726.33px;
    width: 518.39px;
    z-index: 1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    left: 20%;
    top: 52%;
    transform: translate(-50%,-50%);
}
.scheme-coop-fire{
    /* height: 93%; */
    /* height: auto; */
    /* width: 36%; */
    height:726.33px;
    width: 518.39px;
    z-index: 1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    left: 20%;
    top: 52%;
    transform: translate(-50%,-50%);
}
.scheme-edge-small-goal{
    height:726.33px;
    width: 518.39px;
    z-index: 1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    right: 0%;
    top: 52%;
    transform: translate(-50%,-50%);
}
.scheme-edge-fire{
    height:726.33px;
    width: 518.39px;
    z-index: 1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    right: 0%;
    top: 52%;
    transform: translate(-50%,-50%);
}
.bounce-frame-center2{
    height: 90%;
    width: 90%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(65, 62, 62, 1);
}

.bounce-frame-center3{
    height: 90%;
    width: 90%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(65, 62, 62, 1);
}

.edit-fireLine-area{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    /* right: 200px; */
    left: 50%;
    transform: translate(-50%,-50%);
}
.redirection-button-area{
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 75px;
    bottom: 37px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    text-align: center;
}
.redirection-button-area:hover{
    background-color: rgb(240,240,240);
}
.event-name{
    font-size: 17px;
    position: absolute;
    left: 1%;
    padding-top: 5px;
    color: white;
}

.bounce-frame-center{
    height: 68%;
    width: 65%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bounce-frame-left{
    height: 65%;
    /* height: auto; */
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.bounce-frame-left2{
    height: 65%;
    /* height: auto; */
    width: 40%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.bounce-frame-left3{
    height: 65%;
    /* height: auto; */
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.bounce-frame-right{
    height: 65%;
    width: 30%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 83%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bounce-frame-right-audio{
    height: 20%;
    width: 15%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 83%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.audio-noise-reduction{
    height: 25%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 83%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.bounce-frame-right-video{
    height: 30%;
    width: 15%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 83%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.bounce-frame-right-img{
    height: 43%;
    width: 35%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    right: -10%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.sub-vue-1{
    z-index: -1;
    height: 500px;
    width:300px;
    position:absolute;
    left: 80px;
    top:50px;
    padding-left:15px;
    padding-top: 5px;
    /* background-color: rgb(65, 62, 62,0.6); */
    /* opacity: 0.5; */
    border-radius:5px 5px 5px 5px;
}
.platform-name .title1{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}
.pickerInput{
    padding-top: 6px;
}
.platform-name{
    /* display: inline-block; */
    /* margin: 0px auto; */
    
    /* background: rgba(26, 52, 169, 0.6); */
    background: rgba(21, 32, 79, 0.6);
    border-radius: 0%;
    width: 250px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header{
    width:100%;
    /* padding-right: 5px; */
    /* width: 50%; */
    /* min-width: 720px; */
    z-index: 1025;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 35px;
    /* background-color:rgb(23, 26, 32,0); */
    background :rgb(23, 26, 32,0.4);
    /* opacity: 0.4; */
    /* position: relative; */
    position:absolute;
}
.target-recog-global{
    width: 20%;
    z-index: 1025;
    font-size: large;
    margin-top: 50px;
    margin-left: 25px;
    height: 35px;
    background-color: transparent;
    position: absolute;
}
.target-recog-history{
    width: 20%;
    z-index: 1025;
    font-size: large;
    margin-top: 50px;
    margin-left: 25px;
    height: 35px;
    background-color: transparent;
    position: absolute;
}
.amap-toolbar{
    right: 40px !important;
}
.markersmenu{
    padding-left: 10px;
    z-index: 1025;
    position:absolute;
    margin-left: 0px;
    margin-top: 35px;
}
.amap-ctrl-list-layer{
    background-color: rgb(65, 62, 62,0.6);
}
.amap-ui-ctrl-layer-base-item{
    color: white;
}
.amap-ui-ctrl-layer-overlay-item{
    color:white;
}
.test{
    position:absolute;
    z-index: 1025;
    width:100px;
    height:100px;
    background-image: url("../../assets/xiaofangche.png");
}
.amap-ctrl-list-layer {
    margin-top: 30px;
}
.amap-sug-result{
    z-index: 1026;
}
.logo{
    height: 33px;
}
.about{
    height: 100%;
    width: 100%;
    min-width: 1440px;
    position: relative;
    /* display: flex; */
}
.tangram-suggestion-main{
    z-index: 9999999999;
}
#allmap{
    z-index: 1024;
    width: 100%;
    min-width: 1440px;
    height: 746px;
    /* flex:1;
    min-height: 0; */
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
}
.nav{
    display: inline;
    width:auto;
    /* padding-left: 150px; */
    /* width: 50%; */
    /* min-width: 720px; */
    z-index: 1025;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 35px;
    /* background-color:rgb(23, 26, 32,0); */
    /* background :rgb(23, 26, 32,0.4); */
    /* opacity: 0.4; */
    /* position: relative; */
    position:absolute;
}
.mapopt{
    width:auto;
    bottom: 100px;
    right: 20px;
    padding-right: 5px;
    /* width: 50%; */
    /* min-width: 720px; */
    z-index: 1025;
    margin-bottom: 0px;
    margin-top: 0px;
    /* height: 35px; */
    background-color:rgba(236, 238, 243, 0.5);
    /* opacity: 0.4; */
    /* position: relative; */
    position:absolute;
}
.mapopt > li:hover{
    background-color: rgb(66, 71, 71,0.5);
}
.mapopt > li{           
    display: inline-block;
}
.markersmenu > li{           
    display: inline-block;
}
.mainmenu{
    width:auto;
    padding-left: 5px;
    /* width: 50%; */
    /* min-width: 720px; */
    z-index: 1025;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 35px;
    background-color:rgb(23, 26, 32,0);
    /* opacity: 0.4; */
    /* position: relative; */
    position:absolute;
    right:0;
    /* right: 50%; */
}
.nav-li>a{   
    height: 100%;
    width: 60px;
    padding:2px 10px;   
    color:black;   
    display:block;   
    text-align: center;
    text-decoration:none;   
    font-size:14px;   
    line-height:18px;
    /* border: 1px blue solid; */
    background: rgba(21, 32, 79, 0.6);
    color:white;
}
.nav-li2>a{   
    padding:8px 20px;   
    color:black;   
    display:block;   
    text-decoration:none;   
    font-size:14px;   
    line-height:18px;
}
.dorp-box{
    z-index: 1024;
    transition-duration: 1s;
    position:absolute;
    /* top:50px; */
    background-color:#413e3e; 
    min-width:90px;
    display:none;
}
/* .drop-box-sec{
    
} */
.drop-li>a{ 
    padding:8px 0px;  
    color:#ffffff;  
    display:block; 
    text-decoration:none;  
    font-size:12px;
}   
.drop-li>a:hover{
    
    background-color: rgb(0,151 ,167) !important;
}
.nav > li{        
    height: 60%;   
    display: inline-block;
}
/* .nav > li:hover{
    background-color: rgb(66, 71, 71);
} */
.mainmenu > li:hover{
    background-color: rgb(66, 71, 71,0.5);
}
li{
    list-style-type:none;
}
body{
    margin: 0px;
}
.nav-li > ul{
    text-align: center;
    padding-inline-start: 0px;
}
#container{
    width: 100%;
    /* height: 745px; */
    height: 100%;
    background-color: aliceblue;
    /* position: relative; */
    position: absolute;
}
.weather{
    z-index: 1025;
    height: 100px;
    width:200px;
    position:absolute;
    right: 120px;
    top:50px;
    padding-left:15px;
    padding-top: 5px;
    background-color: rgb(65, 62, 62,0.6);
    /* opacity: 0.5; */
    border-radius:5px 5px 5px 5px;
}

.weather span {
    white-space:pre;
    color:white;
    display: block;
  }
.input-card1 {
    z-index: 1025;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: rgb(65, 62, 62,0.6);
    color:white;
    /* background-color: rgb(255, 255, 255,0.6); */
    background-clip: border-box;
    border-radius: .25rem;
    width: 22rem;
    border-width: 0;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    position:absolute;
    right: 20px;
    top:170px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem 0.25rem;
}
.input-card {
    z-index: 1025;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: rgb(65, 62, 62,0.6);
    color:white;
    background-clip: border-box;
    border-radius: .25rem;
    width: 22rem;
    border-width: 0;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    /* position: fixed;
    bottom: 1rem;
    right: 1rem; */
    position:absolute;
    right: 20px;
    top:170px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem 0.25rem;
}
.cover-info{
    z-index: -1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: rgb(65, 62, 62,0.6);
    color:white;
    background-clip: border-box;
    border-radius: .25rem;
    /* width: 14rem; */
    border-width: 0;
    border-radius: 0.4rem;
    /* box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5); */
    /* position: fixed;
    bottom: 1rem;
    right: 1rem; */
    position:absolute;
    right: 200px;
    bottom:30px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem 0.25rem;
}
.input-card2 {
    z-index: 1025;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: rgb(65, 62, 62,0.6);
    color:white;
    background-clip: border-box;
    border-radius: .25rem;
    width: 22rem;
    border-width: 0;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    /* position: fixed;
    bottom: 1rem;
    right: 1rem; */
    position:absolute;
    right: 20px;
    top:280px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /* padding-left: 15px; */
    /* padding: 0.2rem 0.25rem; */
}
.title {
    width: 100%;
    background-color: rgb(0,0,0,0.5)
}
#start,
#stop,
#right input {
    margin: 4px;
    margin-left: 15px;
}

/* .title {
    width: 100%;
    background-color: #dadada
} */

button {
    border: solid 1px;
    margin-left: 15px;
    background-color: #dadafa;
}
.d3_btn{
    
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: transparent;
    background-image: none;
    /* color: #25A5F7; */
    color: white;
    border-color:white;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: 1rem;
    /* -webkit-appearance: button; */
    cursor:pointer;
}
.c {
    font-weight: 600;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 4px;
}

#lnglat,
#address,
#nearestJunction,
#nearestRoad,
#nearestPOI{
    padding-left: 20px;
    padding-right: 15px;
}

#fireInfo,
#firePointNum,
#fireLineLength,
#fireArea,
#fireType{
    padding-left: 20px;
    padding-right: 15px;
}



.input-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}
.input-text {
    line-height: 2rem;
    margin-right: 10px;
}
.btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: transparent;
    background-image: none;
    /* color: #25A5F7; */
    color: white;
    border-color: white;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: 1rem;
    /* -webkit-appearance: button; */
    cursor:pointer;
}

.btn1 {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: transparent;
    background-image: none;
    /* color: #25A5F7; */
    color: white;
    border-color:white;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: 1rem;
    /* -webkit-appearance: button; */
    cursor:pointer;
    
}
.user{
    height: 100%;
    width:50px;
    /* float:right; */
    float: right;
}
.username{
    /* margin-right: 70px;
    height: 100%;
    display: inline; */
    height: 100%;
    width: 50px;
    float: right;
    padding-top: 7px;
    margin-right: 10px;
}
.user-avator{
    height: 100%;
    width:32px;
    float: right;
    /* width: 100px; */
    /* margin-right: 100px; */
    /* display: inline; */
}
.user-avator img{
    padding-top: 2px;
    display: inline;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.dorp-box-sec{
    margin-top: -32px;
    margin-left: 90px;
}
.d3_input-card3{
    z-index: 1025;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: rgb(65, 62, 62,0.6);
    color:white;
    background-clip: border-box;
    border-radius: .25rem;
    width: 9rem;
    border-width: 0;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    /* position: fixed;
    bottom: 1rem;
    right: 1rem; */
    position:fixed;
    right: 20px;
    top:390px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem 0.25rem;
}
.bounce-frame-base-controller{
    height: 0%;
    width: 0%;
    z-index: -1;
}
.bounce-frame-base-stat{
    height: 70%;
    width: 15%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}
.bounce-frame-base-stat-sleep{
    height: 21%;
    width: 3%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.bounce-frame-base-info{
    height: 36%;
    width: 24%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 4%;/*4%<->17%*/
    top: 50%;
    transform: translateY(-50%);
}
.bounce-frame-base-option{
    height: 5%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 9%;
    top: 15%;
    transform: translate(-50%,-50%);
}
.bounce-frame-base-scheme-list{
    height: 20%;
    width: 8%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 4%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.bounce-frame-base-switch{
    position: absolute;
    height: 15%;
    width: 10%;
    z-index:-1;
    left:90%;
    top:75%;
    transform: translate(-50%,-50%);
}
.bounce-frame-base-user-info{
    transform: translateY(-50%);
    position:absolute;
    height:10%;
    width:20%;
    z-index:-1;
    left: 4%;/*4%<->17%*/
    top: 30%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-figure-1{
    transform: translateY(-50%);
    position:absolute;
    height:24%;
    width:20%;
    z-index:-1;
    left: 4%;/*4%<->17%*/
    top: 48%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-figure-2{
    transform: translateY(-50%);
    position:absolute;
    height:24%;
    width:20%;
    z-index:-1;
    left: 4%;/*4%<->17%*/
    top: 72%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-figure-zoom-in{
    transform: translate(-50%,-50%);
    position:absolute;
    height:70%;
    width:40%;
    z-index:-1;
    left: 61%;
    top: 60%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-SNR-show{
    transform: translate(-50%,-50%);
    position:absolute;
    height:15%;
    width:10%;
    z-index:-1;
    left: 70%;
    top: 40%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-SNR-radio{
    transform: translate(-50%,-50%);
    position:absolute;
    height:17%;
    width:7%;
    z-index:-1;
    left: 80%;
    top: 70%;
}
.bounce-frame-base-line-legend{
    transform: translate(-50%,-50%);
    position:absolute;
    height:25%;
    width:15%;
    z-index:-1;
    left: 90%;
    top: 20%;
    background: rgba(255,255,255,0.5);
}
.bounce-frame-base-option-show{
    transform: translate(-50%,-50%);
    position:absolute;
    height:10%;
    width:30%;
    z-index:-1;
    left: 20%;
    top: 90%;
}
.bounce-frame-base-scene-radio{
    transform: translate(-50%,-50%);
    position:absolute;
    height:10%;
    width:30%;
    z-index:-1;
    left: 60%;
    top: 10%;
}
.bounce-frame-base-scene-args{
    transform: translate(-50%,-50%);
    position:absolute;
    height:30%;
    width:30%;
    z-index:-1;
    left: 50%;
    top: 25%;
}
.bounce-frame-base-device-list{
    height: 70%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 20%;
    top: 10%;
}
.bounce-frame-base-device-list-sleep{
    height: 10%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 20%;
    top: 10%;
}
.bounce-frame-base-device-set{
    height:50%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left: 40%;
    top: 10%;
}
.bounce-frame-base-device-set-sleep{
    height: 10%;
    width: 20%;
    z-index: -1;
    border-radius:5px 5px 5px 5px;
    position: absolute;
    left:40%;
    top: 10%;
}
.footer-unfold{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 10%;
    left: 50%;
    height: 3%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 100%;
    background: #2da4f3;
    color: #fff;
    z-index: 999;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .footer-fold{
    position: absolute;
    bottom: 0;
    width: 30%;
    left: 50%;
    height: 25%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 100%;
    color: #000;
    z-index: 999;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.table_information{
      background-color: #ffffff;
}
  .zxstyle{
    text-align: left;
    font-weight: bold;
}